################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/C#/.vs/C#
/C#/AbstractFactory/obj
/C#/Builder/obj
/C#/FactoryMethod/obj
/C#/Prototype/obj
/C#/SingletonPattern/obj
/C#/Adapter/obj
/C#/Bridge/obj
/C#/Chain of Responsibility/obj
/C#/Command/obj
/C#/Composite/obj
/C#/Decorator/obj
/C#/Facade/obj
/C#/FlyWeight/obj
/C#/Iterator/obj
/C#/Mediator/obj
/C#/Memento/obj
/C#/Observer/obj
/C#/Proxy/obj
/C#/State/obj
/C#/Strategy/obj
/C#/Template Method/obj
/C#/Visitor/obj
/C#/.vs/ProjectEvaluation
/C#/SingletonPattern/bin/Debug/net8.0
/C#/AbstractFactory/bin/Debug/net8.0
